# Виртуальные окружения
venv/
__pycache__/
*.py[cod]

# Логи и временные файлы
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.pdb
*.swp

# Конфигурационные файлы окружения
.env
*.env
.env.*

# База данных
db.sqlite3
*.db